<md-dialog aria-label="{{editStatusCtrl.order.name}}" flex="50">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{editStatusCtrl.order.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="editStatusCtrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      
      <div class="md-dialog-content" layout="row" layout-align="center center">

        <div layout="column" layout-align="center center">
          <md-button class="md-raised md-primary" ng-click="editStatusCtrl.incrementMinutes()">
            <md-icon aria-label="Close dialog">expand_less</md-icon>
          </md-button>
          <h1 layout-align="center">{{editStatusCtrl.minutes.pad(2)}}</h1>
          <md-button class="md-raised md-primary" ng-click="editStatusCtrl.decrementMinutes()">
            <md-icon aria-label="Close dialog">expand_more</md-icon>
          </md-button>
        </div>

        <div layout="column" layout-align="center center">
          <h1 align="center">:</h1>
        </div>

        <div layout="column" layout-align="center center">
          <md-button class="md-raised md-primary" ng-click="editStatusCtrl.incrementSeconds()">
            <md-icon aria-label="Close dialog">expand_less</md-icon>
          </md-button>
          <h1 align="center">{{editStatusCtrl.seconds.pad(2)}}</h1>
          <md-button class="md-raised md-primary" ng-click="editStatusCtrl.decrementSeconds()">
            <md-icon aria-label="Close dialog">expand_more</md-icon>
          </md-button>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-warn md-raised" ng-click="editStatusCtrl.deleteClicked()">
        Delete
      </md-button>
      <span flex></span>
      <md-button class="md-raised" ng-click="editStatusCtrl.cancelClicked()">
       Close
      </md-button>
      <md-button class="md-raised" ng-click="editStatusCtrl.startClicked()" md-autofocus>
        Start Timer
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
