<md-list md-colors="{background: 'grey-50'}">

  <md-list-item 
    class="md-3-line" 
    ng-repeat="order in statusCtrl.orders" 
    ng-click="statusCtrl.orderClicked($event, order)" 
    md-colors="{background: order.color || 'blue-50'}">

    <div class="md-list-item-text" layout="column">
      <h3>{{order.name}}</h3>
      <p ng-hide="statusCtrl.timeLeft[order.id] >= 0">--</p>
      <p ng-hide="!statusCtrl.timeLeft[order.id]">{{ statusCtrl.timeLeft[order.id] | secondsToDateTime }}</p>
      <md-progress-linear ng-hide="!statusCtrl.timeLeft[order.id]" md-mode="determinate" value="{{ statusCtrl.timeLeft[order.id] / order.duration }}"></md-progress-linear>
    </div>
    <md-divider />

  </md-list-item>

</md-list>
