<md-list md-colors="{background: 'grey-50'}">

  <md-list-item 
    class="md-3-line repeat-item" 
    ng-repeat="order in statusCtrl.orders | orderStatus | filter : { type: statusCtrl.typeFilter }" 
    ng-click="statusCtrl.orderClicked($event, order)" 
    md-colors="{background: order.status === 'Waiting' ? 'blue-50' : 'green-200' }">

    <div class="md-list-item-text" layout="column">
      <h3>lol{{order.name}}</h3>
      <h4 ng-hide="order.status === 'Cooking'">{{ order.status }}</h4>
      <p ng-hide="order.status !== 'Cooking'">{{ order.secondsLeft | secondsToDateTime }}</p>
      <md-progress-linear ng-click="statusCtrl.orderClicked($event, order)" md-mode="determinate" value="{{ order.percentComplete }}"></md-progress-linear>
    </div>
    <md-divider />

  </md-list-item>

</md-list>
