      <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon ng-disabled>menu</md-icon>
          </md-button>

          <h2 flex="" md-truncate="">Verona Order Queue</h2>

      </div>
      </md-toolbar>

      <div ng-cloak>
        <md-content class="md-padding">

          <md-nav-bar md-selected-nav-item="currentChannel" nav-bar-aria-label="channels">
            <md-nav-item ng-repeat="n in [1,2,3,4,5]"" md-nav-click="mainCtrl.setChannel(n)" name="channel{{n}}">
              Channel {{n}}
            </md-nav-item>

            <md-button class="md-raised md-primary" >
              FRONT
              <md-icon class="md-icon-button" >playlist_add</md-icon>
            </md-button>
            <md-button class="md-raised md-primary" >
              BACK
              <md-icon class="md-icon-button" >playlist_add_check</md-icon>
            </md-button>

          </md-nav-bar>

        </md-content>
      </div>

      <div ui-view></div>

