<md-nav-bar
  ng-hide="menuCtrl.typeFilter"
  md-selected-nav-item="menuCtrl.selectedType"
  nav-bar-aria-label="navigation links">
  <md-nav-item ng-repeat="(type, names) in menuCtrl.types" md-nav-click="goto(type)" name="{{type}}">
    {{ type }}
  </md-nav-item>
  
</md-nav-bar>

<md-toolbar ng-show="menuCtrl.isEditing()" class="md-hue-3">
  <h2 class="md-toolbar-tools">
    <span>* EDITING *</span>
  </h2>
</md-toolbar>

<md-grid-list md-cols="6" md-gutter="1em" md-row-height="4:3" ng-class="{fullscreen: menuCtrl.isFullScreen}">
  
  <md-grid-tile ng-repeat="name in menuCtrl.types[menuCtrl.selectedType]">
    <md-whiteframe class="md-whiteframe-6dp noselect" flex layout layout-fill layout-align="center center" md-ink-ripple md-colors="{background: 'blue-100'}" ng-click="menuCtrl.itemClicked(name)">
        <center>{{name}}</center>
    </md-whiteframe>
  </md-grid-tile>

  <md-grid-tile ng-show="menuCtrl.isEditing()">
    <md-whiteframe class="md-whiteframe-6dp noselect" flex layout layout-fill layout-align="center center" md-ink-ripple md-colors="{background: 'blue-50'}" ng-click="menuCtrl.addItemClicked(name)">
        <center><md-icon class="md-icon-button">add_box</md-icon></center>
    </md-whiteframe>
  </md-grid-tile>

</md-grid-list>
