
<md-nav-bar
  md-selected-nav-item="menuCtrl.selectedType"
  nav-bar-aria-label="navigation links">
  <md-nav-item ng-hide="menuCtrl.typeFilter" ng-repeat="(type, names) in menuCtrl.types" md-nav-click="goto(type)" name="{{type}}">
    {{ type }}
  </md-nav-item>
  
</md-nav-bar>

<md-grid-list md-cols="6" md-gutter="1em" md-row-height="4:3" ng-class="{fullscreen: menuCtrl.isFullScreen}">
  
  <md-grid-tile ng-repeat="name in menuCtrl.types[menuCtrl.selectedType]">
    <md-whiteframe class="md-whiteframe-6dp" flex layout layout-fill layout-align="center center" md-ink-ripple md-colors="{background: 'blue-100'}" ng-click="menuCtrl.createOrder(name)">
        <center>{{name}}</center>
    </md-whiteframe>
  </md-grid-tile>

</md-grid-list>
