
<md-nav-bar
  md-selected-nav-item="menuCtrl.selectedType"
  nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-click="goto('pizza')" name="pizza">
    Pizza
  </md-nav-item>
  <md-nav-item md-nav-click="goto('pasta')" name="pasta">
    Pasta
  </md-nav-item>
  
</md-nav-bar>

<md-grid-list md-cols="6" md-gutter="1em" md-row-height="4:3" ng-class="{fullscreen: menuCtrl.isFullScreen}" ng-repeat="(type, names) in menuCtrl.types" ng-hide="menuCtrl.selectedType!==type">
  
  <md-grid-tile ng-repeat="name in names">
    <div layout layout-fill> 
      <md-button  class="md-raised md-primary" 
        flex md-colors="{background: 'blue-100'}" 
        style="white-space: normal;"
        ng-click="menuCtrl.createOrder(name)">
        {{name}}
      </md-button>
    </div>
  </md-grid-tile>

</md-grid-list>
